<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VersionNumber" value="1.0.0"/>
    <add key="AuthorName" value="Pavel Lorenz" />
    <add key="EmailAddress" value="elpablos@gmail.com"/>
    <add key="ProjectSiteAddress" value="http://code.google.com/p/palo-tetris/"/>

    <add key="Width" value="10"/>
    <add key="Height" value="20"/>

    <add key="TetrisGameID" value=""/>
    <add key="TetrisAiID" value=""/>
  </appSettings>
</configuration>